{% extends 'layouts/default.twig' %}
{% set pageTitle = 'SR6 Combat Log' %}
{% block content %}
  <form method="post" action="/login">
    <fieldset>
      <legend>Connect to a current log:</legend>
      <p>Select your character and enter the session tag to continue.</p>

      {% if tag is not empty %}
        <p>The most recent session is tagged <em>{{ tag }}</em>. To start a
          new session, leave the tag field blank.</p>
      {% endif %}

      <ol>
        <li>
          <label for="character">Character</label>
          <select id="character" name="character" required>
            <option value=""></option>
            <option value="gm">GM</option>
            <hr>
            {% for id, name in characters %}
              <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
          </select>
        </li>
        <li>
          <label for="tag">Session Tag</label>
          <input id="tag" name="tag">
        </li>
      </ol>

      <button type="submit">Connect</button>
    </fieldset>
  </form>
{% endblock %}
