{% extends 'layouts/default.twig' %}
{% set pageTitle = 'SR6 Combat Log' %}
{% block head %}

  <script>
    const username = "{{ username }}";
    const characters = {{ characters | json_encode | raw }};
  </script>

{% endblock %}
{% block content %}

  <session></session>

  <dialog id="pc-adder">
    <form method="dialog">
      <p>
        <label class="before">
          Select PC to add:
          <select class="return-value" autofocus>
            <option value=""></option>
            {% for id, name in players %}
              <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
          </select>
        </label>
      </p>

      <button class="dialog-proceed" value="add">Add PC</button>
      <button class="dialog-cancel" value="cancel"><i>&times;</i></button>
    </form>
  </dialog>

  <dialog id="npc-adder">
    <form method="dialog">
      <p>
        <label class="before">
          Enter NPC name or leave blank for random.<br>
          <input class="return-value" autofocus>
        </label>
      </p>

      <button class="dialog-proceed" value="add">Add NPC</button>
      <button class="dialog-cancel" value="cancel"><i>&times;</i></button>
    </form>
  </dialog>

  <dialog id="pc-remover">
    <p>Remove <span class="character-name"></span> from this session?</p>
    <form method="dialog">
      <button value="cancel" autofocus>No</button>
      <button value="session">Yes</button>
    </form>
  </dialog>

  <dialog id="npc-remover">
    <p>Remove <span class="character-name"></span> from this session or from the database?</p>
    <form method="dialog">
      <button value="session" autofocus>Session</button>
      <button value="database">Database</button>
      <button value="cancel">Cancel</button>
    </form>
  </dialog>

{% endblock %}
