{% set pageTitle = pageTitle | default('Set the Page Title, Frosh!') %}

<!doctype html>
<html lang="en-us" class="no-js">
<head>
  <title>SR6 Combat Log</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/styles.css?ver={{ cssVersion }}">

  {% block head %}
  {% endblock %}

  <script src="/assets/application.min.js"></script>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1>{{ pageTitle }}</h1>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      {% if session.tag is defined and session.tag | length %}
        <p>
          Session: <a href="/session">{{ session.tag }}</a>
          | <a href="/session/logout">Log out</a>

          {% if username == 'gm' %}
            | <a href="/session/manage">Manage</a>
          {% endif %}
        </p>
      {% endif %}
    </footer>
  </div>

  <!-- {{ context | raw }} -->
</body>
</html>
