html, body {
  box-sizing: border-box;
  font-family: Cabin, sans-serif;
  font-optical-sizing: auto;
  font-size: 125%;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: normal;
  line-height: 1.5;
  height: 100%;
  margin: 0 .25rem;
  padding: 0;
}

html.no-js {
  body {
    display: none;
  }
  
  &::after {
    content: 'Turn on JavaScript, please.';
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: .9rem;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

fieldset {
  border: 1px solid black;
  border-radius: 3px;
  
  legend {
    font-weight: bold;
    padding-inline: .5rem;
  }
  
  ol {
    list-style: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
  }
  
  li {
    margin-block-end: .5rem;
  }
}

label {
  display: inline-block;
  font-weight: bold;
  
  &:not(.checkbox) {
    width: 6.25rem;
    
    &::after {
      content: ':';
    }
  }
}

select, input, button {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding-block: .25rem;
  padding-inline: .5rem;
  
  &[type=number] {
    padding-inline-end: .25rem;
  }
}

optgroup {
  margin-block-start: .5rem;
}

button {
  background-color: powderblue;
  
  &:hover, &:focus, &:active {
    background-color: deepskyblue;
  }
  
  & + button {
    margin-inline-start: 1rem;
  }
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: .25rem;
  
  &.with-border {
    border-inline-end: 1px solid black;
  }
  
  &[headers*=minor-actions] {
    padding-inline: 0;
  }
}

thead,
tbody tr:nth-child(even) > * {
  background-color: whitesmoke;
}

tbody tr:hover > * {
  background-color: floralwhite !important;
}

th[scope=row],
th[scope=col]:first-child {
  text-align: left;
  width: 10rem;
}

th[scope=col] {
  vertical-align: bottom;
  border-block-end: 1px solid black;
}

th#edge,
th#damage,
th#major-action,
td.initiative {
  width: 3.5rem;
}

th#notes {
  width: auto;
}

td[headers*=initiative],
td[headers*=action] {
  text-align: center;
}

td input {
  &[type=text],
  &[type=number] {
    width: 100%;
  }
  
  &.invisible {
    visibility: hidden;
  }
}

td a {
  color: firebrick;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1;
  text-decoration: none;
}

.session {
  position: relative;
  
  .session-controls {
    position: absolute;
    right: 0;
    top: -2rem;
  }
}

footer {
  font-size: .6rem;
}
